body {
  background: url(https://res.cloudinary.com/digumuwth/image/upload/bg2_pwm1zf?_a=BAMAJaWO0)
  background-repeat: no-repeat
  background-attachment:fixed
  background-size: cover
  background-position:50% 50%
	opacity: 0.83
}

//侧边框的透明度设置
.sidebar {
  background-color: transparent;
  opacity: 0.9;
}

//菜单栏的透明度设置
.header-inner {
  background: 0.9;
}
